{% import _self as self %}
{% spaceless %}
{%- if stats -%}
  {# render stats #}
  <div class="grid_36 alpha omega">
    <div class="grid_8 alpha">
      {{ self.renderUserStats(stats['topUsers']) }}
    </div>
    <div class="grid_14">
      {{ self.renderDistinctFileStats(stats['distinctFileActions']) }}
    </div>
    <div class="grid_14 omega">
      {{ self.renderAllFileStats(stats['allFileActions']) }}
    </div>
  </div>
{%- endif -%}

{# render sites #}
<div class="grid_36 alpha omega">
  <div class="grid_18 alpha">
    {%- if isGlobal -%}
      <h2>Sites{%- if sites|length > 0 %} ({{ sites|length }}){% endif -%}</h2>
    {%- else -%}
      <h2>Your Sites</h2>
    {% endif -%}
  </div>
{%- if sites|length > 0 -%}
  <div class="grid_18 omega">
    <input type="text" name="filter" class="filter" id="filterSites" placeholder="Type to filter" />
  </div>
  <table class="fancy sortable filterable fullWidth">
    <thead>
      <tr>
        <th>Site</th>
      </tr>
    </thead>
    <tbody>
      {%- for site in sites -%}
        <tr>
          <td><a href="{{ makeUrl(site) }}">{{ makeUrl(site) }}</a></td>
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
{%- else -%}
  <p class="message">It looks like you don't have access to any sites.</p>
{%- endif -%}
</div>

{# render recent activity #}
{%- if isGlobal -%}
  <h2>Recent Activity</h2>
{%- else -%}
  <h2>Your Recent Activity</h2>
{% endif -%}
{{ recentActivity|raw }}

{% endspaceless %}

{#
  Renders stats for unique files

  param: stats Array of stats
#}
{% macro renderDistinctFileStats(stats) %}
  {% set totalCount = 0 %}
  {% set counts = '' %}
  <table class="fancy fullWidth">
    <legend>Unique File Actions</legend>
    <thead>
      <tr>
        <th>Action</th>
        <th>Unique File Count</th>
      </tr>
    </thead>
    <tbody>
      {% for stat in stats %}
        {% set totalCount = totalCount + stat['counts'] %}
        {% set counts%}
          {{ counts }}
          <tr>
            <td>{{ stat['action'] }}</td>
            <td>{{ stat['counts'] }}</td>
          </tr>
        {% endset %}
      {% endfor %}
      <tr>
        <td>All</td>
        <td>{{ totalCount }}</td>
      </tr>
      {{ counts }}
    </tbody>
  </table>
{% endmacro %}

{#
  Renders stats for all file modifications

  param: stats Array of stats
#}
{% macro renderAllFileStats(stats) %}
  {% set totalCount = 0 %}
  {% set counts = '' %}
  <table class="fancy fullWidth">
    <legend>All File Actions</legend>
    <thead>
      <tr>
        <th>Action</th>
        <th>Total Count</th>
      </tr>
    </thead>
    <tbody>
      {% for stat in stats %}
        {% set totalCount = totalCount + stat['counts'] %}
        {% set counts%}
          {{ counts }}
          <tr>
            <td>{{ stat['action'] }}</td>
            <td>{{ stat['counts'] }}</td>
          </tr>
        {% endset %}
      {% endfor %}
      <tr>
        <td>All</td>
        <td>{{ totalCount }}</td>
      </tr>
      {{ counts }}
    </tbody>
  </table>
{% endmacro %}

{#
  Renders top users with their count of published actions

  param: stats Array of stats
#}
{% macro renderUserStats(stats) %}
  <table class="fancy fullWidth">
    <legend>Top Users</legend>
    <thead>
      <tr>
        <th>Username</th>
        <th>Total Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for stat in stats %}
        <tr>
          <td>{{ stat['username'] }}</td>
          <td>{{ stat['publishCount'] }}</td>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}