{% import _self as self %}
{% spaceless %}
  {%- set showMenuTitle = 'Show Concert Menu' -%}
  {%- set hideMenuTitle = 'Hide Concert Menu' -%}
  {%- set buttons = [] -%}
  <div id="concertMenu" class="concert-menu {% if not showMenu %} hidden{% endif %}">
    <div class="menu-content">
      <a href="#" class="concert-menu-activate-button menu-item" title="{% if not showMenu %}{{ showMenuTitle }}{% else %}{{ hideMenuTitle }}{% endif %}">
        Concert
      </a>
    </div>
    <div class="menu-content">
      <ul class="menu-bar">
        {%- for groupName,group in menu -%}
          {%- if group.type == 'menu' -%}
            <li class="menu-item">
              <a id="menu-{{groupName}}" class="menu-item-label" href="#" data-toggle="dropdown">{{ groupName|un_camel_case|title }} ▾</a>
              <ul class="menu-dropdown" role="menu" aria-labelledby="menu-{{groupName}}">
                {%- for item in group.items -%}
                  <li class="menu-dropdown-item"><a href="{{ item.url|replace({' ': '%20'}) }}" class="{% if item.thickbox is not defined or item.thickbox == true %} thickbox{% endif %}{% if item.classes %} {{ item.classes }}{% endif %}"{% if item.id is defined %} id="{{ item.id }}"{% endif %}{% if item.newTab %} target="_blank"{% endif %}{{ self.renderThickboxData(item) }}>{{ item.text|replace({' ': '&nbsp;'})|raw }}</a></li>
                {%- endfor -%}
              </ul>
            </li>
          {%- elseif group.type == 'buttons' -%}
            {%- set buttons = group.items -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="menu-content right">
      <ul class="menu-bar">
        {% if showMenu %}
          <li class="menu-item">
            <a href="{{ quitURL }}" class="button red quitConcert">Quit</a>
          </li>
          <div id="confirmQuit" title="Quit" class="nodisplay">
            <div class="concert-message concert-alert"><div class="concert-message-contents icon-exclamation-triangle">It looks like you have made changes. Are you sure you want to quit?</div></div>
          </div>
        {% endif %}
      </ul>
    </div>
    <div class="menu-content">
      <ul class="menu-bar" id="primaryActions">
        {%- if buttons|length > 0 -%}
          {%- import 'actionButtons.js.twig' as actionButtons -%}
          {{ actionButtons.renderButtons(buttons) }}
        {%- endif -%}
      </ul>
    </div>
    <div class="clear"></div>
    <link rel="stylesheet" href="{{ renderResource(['dropdown-css'])}}" media="screen" title="no title" charset="utf-8">
    <script>
    {%- set dropdown = renderResource(['dropdown']) -%}
  require.config({
    shim: {
      '{{ dropdown }}': ['baseJS']
    }
  });
  require(['{{ dropdown }}'], function() {
   $(document).on('click.Concert.ShowMenu', '.concert-menu-activate-button', function (e) {
     e.preventDefault();
     console.log('concert');
     var $concertMenu = $('.concert-menu');
     if ($concertMenu.hasClass('hidden')) {
       $(this).attr('title', '{{ hideMenuTitle }}');
       $concertMenu.removeClass('hidden');
     } else {
       $(this).attr('title', '{{ showMenuTitle }}');
       $concertMenu.addClass('hidden');
     }
     Extend.apply('utilBar');
   });
   $(function() {
     var $concertMenu = $('.concert-menu');

     if (!$concertMenu.hasClass('hidden')) {
       $('.concert-menu-activate-button').attr('title', '{{ hideMenuTitle }}');
     } else {
       $('.concert-menu-activate-button').attr('title', '{{ showMenuTitle }}');
     }

     Extend.add('page', function() {
         $('#cancelEditSiteNavMessage').on('click', function(e) {
           e.preventDefault();
         $(this).colorbox.close();
       });
     });
   });
  });
    </script>
  </div>
{% endspaceless %}

{#
  Renders data attributes for thickbox.

  param: item Array of thickbox data attributes to be converted into html. Associative array of dataName => dataValue
#}
{% macro renderThickboxData(item) %}
  {%- for datum,value in item.thickboxData %} data-thickbox-{{ datum }}="{{ value }}"{% endfor -%}
{% endmacro renderThickboxData %}